.navya{
        
    background-color: #009FBD;
    
    width: 100%;
    
    height: 30px;
    
    padding: 30px;
    
    }
    
.header a{
    
    padding: 50px;
    
    margin: 50px;
   
    
    color: white;
    
    font-size: 20px;
    
    font-family:cursive;
     
    font-weight: bolder;

    text-decoration: none;
    }

    .App {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 20px;
     padding: 20px;
   }
   .cards-container {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: space-between;
   }
   .card {
     background: white;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     overflow: hidden;
     width: 300px;
     text-align: center;
     transition: transform 0.3s;
   }
   .card:hover {
     transform: scale(1.05);
   }
   .card img {
     width: 200px;
     height: 200px;
     margin-left: 50px;
     margin-top: 10px;
   }
   
   .card .info {
     padding: 20px;
   }
   .card .info h2 {
     font-size: 18px;
     margin: 0;
   }
   .card .info p {
     font-size: 18px;
     color: #777;
     margin: 10px 0;
   }
   .card .info button {
     background-color: #ff6600;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 12px;
     transition: background-color 0.3s;
   }
   .card .info button:hover {
     background-color: #e65c00;
   }
   

  .footer{

    background-color: #16f4f4;
    
    height: 50px;
    
    padding: 35px;
      
    }
    .navya a{
       
      padding: 50px;
      
      margin: 50px;
     
      
      color: PINK;
      
      font-size: 20px;
      
      font-family:cursive;
       
      font-weight: bolder;

      text-decoration: none;
      }

  
    .ipl{
     background-image: linear-gradient(orange,white,green);
     width: 100%;
     align-items: center;
    }





